# --------------------
# General
# --------------------
.DS_Store
.env
.env.*
*.log
draft.md

# --------------------
# .NET
# --------------------
bin/
obj/
*.user
*.suo
*.rsuser
*.csproj.user

# --------------------
# Docker
# --------------------
**/docker-compose.override.yml

# --------------------
# Terraform
# --------------------
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
crash.log

# --------------------
# IDEs
# --------------------
.vscode/
.idea/
